@import '../node_modules/picnic/picnic';

html, body {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
body {
    background-color: #000;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: #000 url('../img/bg.jpg') no-repeat fixed top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.countdown {
    z-index: 1;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px #000, 0 0 5px #000;
    font-size: 24px;
    height: 100%;
    align-items: center;

    span {
        position: relative;
        display: block;

        &.smaller {
            font-size: 20px;
        }
    }
}

.viera {
    position: fixed;
    z-index: 0;
    background-image: url('../img/viera.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 452px;
    top: 20px;
}

.copy {
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 10px;
    color: #fff;
    text-align: center;
}

.recruit {
    div {
        display: none;
    }

    padding: 5px;
    background: linear-gradient(#FC5E7F, #682634);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.4);

    .click-area {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
    }

    img {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    a.button {
        background-color: #FEE06B;
        color: #333;
        display: inline-block;
        box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
    }
}
